html {
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-family: var(--base-font-family);
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--base-font-weight);
}

a {
  color: var(--brand-color);
}

p,
pre {
  margin: 0 0 1.5em;
}

code,
pre {
  font-family: 'Menlo', 'Monaco', monospace;
}

code {
  font-size: .9em;
  font-weight: normal;
  color: oklch(0% 0 0);
}

pre > code {
  font: inherit;
  color: inherit;
}

a {
  display: inline-block;
  color: var(--brand-color);
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: oklch(from var(--brand-color) l c h / .75);
  text-underline-offset: .25ex;

  &:visited {
    text-decoration-color: var(--brand-color);
  }

  &:focus, &:hover {
    outline: none;
    transform: rotate(-3deg);
    color: oklch(100% 0 0);
    font-weight: bold;
  }
}

ol,
ul {
  list-style: square;
  margin: 0 0 1.5em;
  padding: 0 0 0 1.5em;
}

li {
  margin-bottom: 0.333em;
}

figure {
  margin: 0;
}

strong {
  font-weight: 600;
}
