$base-font-family: 'Andika', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: hsl(0, 0%, 25%);
$background-color: hsl(0, 0%, 99%);
$brand-color: hsl(150, 45%, 50%);
