.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;

  .Site-content {
    flex: 1;
    padding: 1em;

    @media (min-width: 800px) {
      & {
        max-width: 720px;
        min-width: 540px;
      }
    }
  }

  .Site-header {
  }

  .Site-nav {
    background-color: oklch(from var(--background-color) l c h / .75);
    position: sticky;
    top: 0;
    backdrop-filter: blur(1px);
    width: 100%;
    text-align: center;

    a {
      display: inline-block;
      text-align: center;
      margin-block: 10px;
    }

    a:not(:last-child) {
      padding-inline-end: .75em;
    }
  }

  .Site-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Header {
  --title-font-family: 'Andika', cursive;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .Header-frame {
    font-family: var(--title-font-family);
    margin: 10px auto;
    width: clamp(200px, 250px, 300px);
    height: min-content;

    .Header-title {
      display: grid;
      grid-template-areas:
      'top right'
      'bottom right';
      color: var(--brand-color);
      line-height: 1;

      .amp {
        display: block;
        grid-area: right;
        font-size: 2.4em;
        text-align: left;
        margin-inline-start: 10px;
      }
      .sam {
        display: block;
        grid-area: top;
        text-align: right;
        align-self: end;
        line-height: 0.9em;
      }
      .moore {
        align-self: start;
        display: block;
        grid-area: bottom;
        text-align: right;
        line-height: 0.9em;
      }
    }

    .Header-subtitle {
      margin 0;
      text-align: center;
      font-size: 1.2em;
    }
  }
}

.Media {
  position: relative;
  overflow: hidden;
  width: 150px;
  border-radius: 50%;
  margin: 10px auto;

  &::after {
    content: '';
    background-image: url('https://s.gravatar.com/avatar/d379fa277879875cb280782165cf3bbc?s=180');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover::after {
    opacity: 1;
  }

  &:hover {
    .Media-figure {
      opacity: 0;
    }
  }

  .Media-figure {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
  }

  .Media-link {
    border: none;
  }
}

.Facts {
  display: flex;
  flex-flow: row wrap;
}

.Footer {
  border-top: 1px dashed oklch(from var(--brand-color) l c h / .5);
  text-align: center;
  padding: 1em 0;
  width: clamp(200px, 720px, 800px);

  @media (min-width: 800px) {
    & {
      max-width: 720px;
    }
  }
}

.Icon--github {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.Archive-section {
  min-width: 320px;

  article {
    margin-block-end: 30px;
  }
}
