.Facts {
  display: flex;
  flex-flow: row wrap;
}

.Facts-item {
  flex: 1;
  padding: 1em;
  margin: 0.5em;
  border: 0.25em dotted $brand-color;

  &--bottom {
    flex: 0 0 calc(100% - 1em);
  }
}
