$title-font-family: 'Andika', cursive;

.Header {
  &-title {
    font-family: $title-font-family;
    margin: 10px auto;
    width: min-content;
    height: min-content;

    a {
      border: none;
      padding: 0 5px;
      display: grid;
      grid-template-areas:
      'left top'
      'left bottom';
    }

    .amp {
      display: block;
      grid-area: left;
      font-size: 2.4em;
      text-align: right;
    }
    .sam {
      display: block;
      grid-area: top;
      text-align: left;
      align-self: end;
      line-height: 0.9em;
    }
    .moore {
      align-self: start;
      display: block;
      grid-area: bottom;
      text-align: left;
      line-height: 0.9em;
    }
  }
}
