.Media {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;

  &-figure {
    margin-right: 1em;
    &--decorated {
      border: 0.25em dotted $brand-color;
    }
  }

  &-body {
    flex: 1;
  }

  &-title {
    margin: 0em 0em 0.5em;
  }
}
