.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @include respond-to('medium') {
    align-items: center;
  }

  &-content {
    flex: 1;
    padding: 1em;

    @include respond-to('medium') {
      max-width: 800px;
    }
  }

  &-header {
    justify-content: center;
  }
}

