*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100vh;
  color: $text-color;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

a {
  color: $brand-color;
}

p,
pre {
  margin: 0 0 1.5em;
}

code,
pre {
  font-family: 'Menlo', 'Monaco', monospace;
}

code {
  font-size: .9em;
  font-weight: normal;
  color: #000;
}

pre > code {
  font: inherit;
  color: inherit;
}

a {
  display: inline-block;
  border-bottom: 1px dashed rgba($brand-color, 50);
  color: $brand-color;
  text-decoration: none;

  &:visited {
    border-bottom: 1px solid $brand-color;
  }

  &:focus, &:hover {
    outline: none;
    background-color: rgba($brand-color, 50);
    transform: rotate(-3deg);
    color: white;
  }
}

ol,
ul {
  list-style: square;
  margin: 0 0 1.5em;
  padding: 0 0 0 1.5em;
}

li {
  margin-bottom: 0.333em;
}

figure {
  margin: 0;
}

strong {
  font-weight: 600;
}
